<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="layout/common :: common_header(~{::title}, ~{::link ?: null}, ~{::script ?: null}, ~{::main})">
<head>
    <title>온라인 도서관 - 관리자 페이지</title>
    <script type="module" src="../js/admin.js" th:src="@{/js/admin.js}"></script>
</head>
<body>
<main>
    <h1>관리자 페이지</h1>
    <p>안녕하세요, 관리자 <span th:text="${session.user.username}">관리자명</span></p>

    <h2>회원 관리</h2>
    <ul>
        <li th:each="user : ${users}">
            <span th:text="${user.username}">username</span>
            <select th:id="|roleType${user.id}|">
                <option selected value="default">일반 유저</option>
                <option value="admin">관리자</option>
            </select>
            <button th:value="${user.id}" onclick="setRole(this)">권한 변경</button>
            <button th:value="${user.id}" onclick="deleteUser(this.value)">삭제</button>
        </li>
    </ul>

    <h2>도서 관리</h2>

    <input type="text" name="bookName" id="addBookName">
    <input type="text" name="isbn" id="addBookIsbn">
    <button onclick="addBook()">등록</button>
    <ul th:if="${books != null}">
        <li th:each="book : ${books}">
            <span th:text="'책 이름 : ' + ${book.name}"></span>
            <span th:text="'isbn : ' + ${book.isbn}"></span>
            <button th:data-id="${book.id}" th:data-name="${book.name}" th:data-isbn="${book.isbn}" onclick="setModifySection(this)">수정</button>
            <button th:onclick="'deleteBook(' + ${book.id} + ')'">삭제</button>
        </li>
    </ul>
    <div id="modifyBook">
        <input type="hidden" id="bookId">
        <input type="text" id="bookName">
        <input type="text" id="isbn">
        <button onclick="modifyBook()">최종 수정</button>
    </div>
    <a href="/">메인으로</a>
</main>
</body>
</html>