<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weblibrary.domain.rental.repository.RentalMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="rentalId">
        insert into rentals(book_id, user_id, rented_at)
        values (#{bookId}, #{userId}, #{rentedAt})
    </insert>

    <select id="findActiveRentalByBookId" resultType="Rental">
        select rental_id, book_id, user_id, rented_at, returned_at
        from rentals
        where book_id = #{bookId} and returned_at is null
    </select>

    <select id="findRentalsByUserId" resultType="Rental">
        select rental_id, book_id, user_id, rented_at, returned_at
        from rentals
        where user_id = #{userId}
    </select>

    <select id="findById" resultType="Rental">
        select rental_id, book_id, user_id, rented_at, returned_at
        from rentals
        where rental_id = #{rentalId}
    </select>

    <update id="update">
        update rentals
        set book_id = #{bookId}, user_id = #{userId}, rented_at = #{rentedAt}, returned_at = #{returnedAt}
        where rental_id = #{rentalId}
    </update>

    <update id="remove">
        delete from rentals
        where rental_id = #{rentalId}
    </update>

</mapper>