body {
    background-color: #f8f9fa;
}
.welcome-message {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
}
.book-list {
    list-style: none;
    padding: 0;
}
.book-item {
    background: #ffffff;
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.book-item span {
    font-size: 1rem;
}
.btn-container button {
    margin-left: 0.5rem;
}
.error{
    display: none;
    width: 100%;
}
.book-cover {
    width: 150px;
}