<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weblibrary.domain.book.repository.BookCoverMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="bookCoverId">
        insert into book_covers(book_id, upload_file_id)
        values (#{bookId}, #{uploadFileId})
    </insert>

    <select id="findById" resultType="BookCover">
        select book_cover_id, book_id, upload_file_id
        from book_covers
        where book_cover_id = #{bookCoverId}
    </select>

    <select id="findByBookId" resultType="BookCover">
        select book_cover_id, book_id, upload_file_id
        from book_covers
        where book_id = #{bookId}
    </select>

    <update id="remove">
        delete from book_covers
        where book_cover_id = #{bookCoverId}
    </update>
</mapper>