<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weblibrary.domain.book.repository.BookMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="bookId">
        insert into books (book_name, author, isbn)
        values (#{bookName}, #{author}, #{isbn})
    </insert>

    <select id="findById" resultType="Book">
        select book_id, book_name, author, isbn
        from books
        where book_id = #{bookId}
    </select>

    <select id="findByName" resultType="Book">
        select book_id, book_name, author, isbn
        from books
        where book_name = #{bookName}
    </select>

    <select id="findByIsbn" resultType="Book">
        select book_id, book_name, author, isbn
        from books
        where isbn = #{isbn}
    </select>

    <select id="findAll" resultType="Book">
        select book_id, book_name, author, isbn
        from books
        <where>
            <if test="cond.bookName != null and cond.bookName != ''">
                and book_name like concat('%',#{cond.bookName},'%')
            </if>
            <if test="cond.author != null and cond.author != ''">
                and author like concat('%',#{cond.author},'%')
            </if>
            <if test="cond.isbn != null and cond.isbn != ''">
                and isbn = #{cond.isbn}
            </if>
        </where>
        order by book_id desc
        limit #{limit} offset #{offset}
    </select>

    <select id="countAll" resultType="int">
        select count(*)
        from books
        <where>
            <if test="bookName != null and bookName != ''">
                and book_name like concat('%',#{bookName},'%')
            </if>
            <if test="author != null and author != ''">
                and author like concat('%',#{author},'%')
            </if>
            <if test="isbn != null and isbn != ''">
                and isbn = #{isbn}
            </if>
        </where>
    </select>

    <update id="remove">
        delete from books
        where book_id = #{bookId}
    </update>

    <update id="update">
        update books
        set book_name = #{bookName}, author = #{author}, isbn = #{isbn}, rented = #{rented}
        where book_id = #{bookId}
    </update>
</mapper>