<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>온라인 도서관</title>
    <script defer type="module" src="../js/user.js" th:src="@{/js/user.js}"></script>
</head>
<body>
<!-- user가 없을 경우에 폼 보여줌 -->
<div id="login" th:if="${session.user == null}">
    <form method="post" action="login">
        <legend>로그인</legend>
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <button type="submit">로그인</button>
    </form>
    <a href="join">회원가입</a>
</div>

<!-- user가 있을 경우에 인사 -->
<p th:if="${session.user != null}">안녕하세요, <span th:text="${session.user.username}">username</span>님!</p>

<!-- books가 있을 경우 목록 보여줌 -->
<ul th:if="${books != null}">
    <li th:each="book : ${books}">
        <span th:text="${book.name}">책 이름</span>
        <span th:text="${book.isbn}">책 isbn</span>
        <button th:value="${book.id}" onclick="rent(this.value)">대출</button>
        <button th:value="${book.id}" onclick="unRent(this.value)">반납</button>
    </li>
</ul>
</body>
</html>