<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weblibrary.domain.user.repository.UserMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="userId">
        insert into users(username, password, remaining_rents)
        values (#{username}, #{password}, #{remainingRents})
    </insert>

    <select id="findById" resultType="User">
        select user_id, username, password, remaining_rents
        from users
        where user_id = #{userId}
    </select>

    <select id="findByUsername" resultType="User">
        select user_id, username, password, remaining_rents
        from users
        where username = #{username}
    </select>

    <select id="findAll" resultType="User">
        select user_id, username, password, remaining_rents
        from users
        order by user_id desc
        limit #{limit} offset #{offset}
    </select>

    <select id="countAll" resultType="int">
        select count(*)
        from users
    </select>

    <update id="update">
        update users
        set username = #{username}, password = #{password}, remaining_rents = #{remainingRents}
        where user_id = #{userId}
    </update>

    <update id="remove">
        delete from users
        where user_id = #{userId}
    </update>

</mapper>